.navbar-brand img {
	max-height: 100px;
}

body {
	font-family: 'Old Standard TT', serif !important;
	font-size:calc(0.7em + .6vw)!important;
}
@media screen and (min-width:1600px) {
	body {
		font-size: 1.6em;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/******** neither nth:child(2) nor nth:type-of(odd),********/
/*so I dynamically assigen with php the classes 'odd' and 'even',
*but in the end used bootstarp classes
/////////////////////////////////
.odd {
    background: #eee;
    background-color: #eee;
}
.even {
    background: #eee;
    background-color: #eee;
}
///////////////////////////////////*/

/*********************************************
***custom toggle only working in Firefox******
*********************************************/
label:hover b {
	color:#33b5e5;
}
label b {
	color: #0099CC;
}

.hidden {
	opacity: 0!important;
	margin-left: 9999px;
	margin-top: -50%;
}

.ex input[type="checkbox"]:checked ~ .show {
	display: flex;
	width: 100%;
 	background: rgb(236, 222, 255);
	flex-wrap: wrap;
	overflow-wrap: break-word;
	
}
.show {
	display: none;
	border-radius: 0.25rem 0 0.25rem 0.25rem;
}

.hide{
	word-break: break-word;
}
.hide h5{
	font-weight: bold;
}

.ex input[type="checkbox"]:checked ~ .hide{
	display: none;
}

.ex [type="checkbox"]:checked ~ label {
  border-radius: 0.25rem 0.25rem 0 0;
}

@media screen and (min-width:992px) {
	.show {
		border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
	}
}

@media screen and (max-width:320px) {
	.hide {
		min-width: 100% !important;
		text-align: center ;
		padding-top: 0.9em;
		overflow-wrap: break-word;
	}
	.show {
		min-width: 100%;
		border-radius: 0 0 0.25rem 0.25rem;
	}
	.updel {
		justify-content: space-around;
	}
}
@media screen and (min-width:321px) {
	.hide {
		width: auto !important;
	}
	.updel {
		justify-content: flex-start;
	}
}